table {
    /* max-width: 100%; */
    /* height: 80%; */
    width:90%;
    border-spacing: 0;
    border: 1px solid #dde0e5;
    /* background-color:#F5FFFA; */
    margin-left: 40px;
    margin-top: 2%;
    outline: thick;
   
  }
  
  td {
    
    padding: 1rem;
    border-bottom: 1px solid #dde0e5;
    cursor: pointer;
    text-align: center;
    /* border-right: 1px solid #dde0e5; */
  }
  
  th {
    color: #868a91;
    padding: 1rem;
    border-bottom: 1px solid #868a91;
    /* border-top: 1px solid #868a91; */
  }